@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';
@import '../module/_header/_header';
@import '../module/_top/_top';
@import '../module/_articles/_articles';
@import '../module/_partners/_partners';
@import '../module/_footer/_footer';

.about {
  &__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  }
}
.about-company {
  display: flex;
  padding: 120px 0;
  &__img {
    width: 49%;
    object-fit: cover;
    margin-right: 50px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
  }
  &__pre-title {
    display: flex;
    align-items: baseline;
  }
  &__age {
    @extend %rubik-700;
    font-size: 140px;
    color: $btn;
    margin-right: 28px;
  }
  &__pre-title-text {
    transform: translateY(-60px);
    span {
      display: block;
      @extend %rubik-400;
      line-height: 30px;
    }
  }
  &__title {
    transform: translateY(-16px);
    margin-bottom: 24px;
  }
  &__text {
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__achiev {
    display: flex;
    font-weight: 700;
    padding-top: 40px;
    position: relative;
    &::before {
      content: '';
      width: 500px;
      height: 2px;
      background-color: #ebeef3;
      position: absolute;
      top: 0;
    }
  }
  &__achiev-item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 27px;
    }
  }
  &__achiev-item--proj {
    padding: 10px 27px 15px 55px;
    &::before {
      width: 36px;
      height: 38px;
      background-image: url(../images/icons/list-about.svg);
      left: 0;
      top: 19px;
    }
  }
  &__achiev-item--reven {
    padding: 10px 27px 15px 87px;
    border-left: 1px solid #e6eaf0;
    border-right: 1px solid #e6eaf0;
    &::before {
      width: 43px;
      height: 39px;
      background-image: url(../images/icons/horn-about.svg);
      top: 17px;
    }
  }
  &__achiev-item--awards {
    padding: 10px 0 15px 87px;
    &::before {
      width: 42px;
      height: 40px;
      background-image: url(../images/icons/medal-about.svg);
      top: 18px;
    }
  }
  &__achiev-num {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  &__achiev-name {
    font-size: 16px;
    line-height: 18px;
    color: #4c4c4c;
  }
}
.about-statistic {
  background-color: #fcd7b6;
  &__inner {
    display: flex;
    align-items: baseline;
    padding: 80px 0;
  }
  &__item  {
    width: 25%;
    font-weight: 700;
    text-align: center;
  }
  &__img {
    margin: 0 auto;
  }
  &__num {
    margin: 22px 0 18px;
  }
  &__name {
    font-size: 18px;
  }
}
.about-team {
  padding: 120px 0 20px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 320px;
    margin-right: 25px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__link {
    @extend %btn-arrow;
    padding: 20px 60px 20px 15px;
    border-radius: 5px;
    &::after {
      background-image: url(../images/icons/arrow-right-white.svg);
    }
  }
  &__people {
    max-width: 770px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  &__person-img {
    max-width: 370px;
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    transition: all .3s;
    &:hover {
      opacity: .9;
    }
  }
  &__person-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    padding: 28px 20px 23px 25px;
    margin-bottom: -10px;
    transform: translateY(-50px);
  }
  &__person-name {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #436372;
    margin-bottom: 10px;
    transition: all .3s;
    &:hover {
      color: $btn;
    }
  }
  &__person-post {
    @extend %rubik-400;
    line-height: 30px;
    color: #565872;
  }
  &__person-social {
    display: flex;
  }
  &__person-link {
    width: 41px;
    height: 41px;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin-left: 7px;
    position: relative;
    transition: all .3s;
  }
  &__person-inst::before {
    content: '';
    width: 17px;
    height: 17px;
    background-image: url(../images/icons/about-inst.svg);
    position: absolute;
    top: 12px;
    left: 12px;
    transition: all .3s;
  }
  &__person-inst:hover {
    background-color: rgba(#f6f6f6, .5);
    &::before {
      background-image: url(../images/icons/about-inst-blue.svg);
    }
  }
  &__person-google::before {
    content: '';
    width: 23px;
    height: 14px;
    background-image: url(../images/icons/about-google.svg);
    position: absolute;
    top: 13px;
    left: 9px;
    transition: all .3s;
  }
  &__person-google:hover {
    background-color: rgba(#f6f6f6, .5);
    &::before {
      background-image: url(../images/icons/about-google-blue.svg);
    }
  }
}

@media (max-width: 1500px) {
  .about-company {
    padding: 90px 0;
  }
  .about-statistic {
    &__inner {
      padding: 65px 0;
    }
  }
  .about-team {
    padding: 90px 0 0px;
    margin-bottom: -10px;
}
}
@media (max-width: 1180px) {
  .about-company {
    &__img {
      width: 44%;
      margin-right: 30px;
    }
    &__age {
      font-size: 130px;
    }
    &__pre-title-text span {
      line-height: 26px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 50px;
    }
    &__achiev {
      padding-top: 30px;
    }
    &__achiev-num {
      font-size: 34px;
      line-height: 36px;
    }
  }
  .about-statistic {
    &__inner {
      padding: 45px 0 55px;
    }
    &__num {
      margin: 18px 0 8px;
    }
  }
  .about-team {
    &__person-data {
      max-width: 305px;
      padding: 20px 18px 14px 22px;
      margin-bottom: -20px;
      transform: translateY(-40px);
    }
  }
}
@media (max-width: 1080px) {
  .about-team {
    &__info {
      max-width: 295px;
    }
    &__people {
      column-gap: 20px;
    }
  }
}
@media (max-width: 990px) {
  .about-company {
    padding: 60px 0;
    &__img {
      display: none;
    }
    &__box {
      display: flex;
    }
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }
    &__pre-title {
      padding-right: 30px;
    }
    &__age {
      margin-right: 18px;
    }
    &__title {
      transform: translateY(0);
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__achiev {
      width: 100%;
      justify-content: center;
      padding-top: 25px;
      &::before {
        content: '';
        width: 100%;
      }
    }
    &__achiev-item {
      padding: 5px 22px 10px 87px;
      &::before {
      }
    }
    &__achiev-item--proj {
      padding-left: 55px;
      &::before {
        top: 15px;
      }
    }
    &__achiev-item--reven {
      &::before {
        top: 13px;
      }
    }
    &__achiev-item--awards {
      &::before {
        top: 14px;
      }
    }
  }
  .about-team {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
    }
    &__info {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__people {
      max-width: 100%;
    }
    &__person-img {
      max-width: 100%;
      object-position: top;
    }
  }
}
@media (max-width: 890px) {
  .about__title {
    font-size: 32px;
    line-height: 40px;
  }
  .about-company {
    padding: 50px 0;
    &__age {
      font-size: 115px;
    }
    &__title {
      margin-bottom: 6px;
    }
    &__text {
      line-height: 26px;
      margin-bottom: 22px;
    }
    &__achiev {
      padding-top: 18px;
    }
    &__achiev-num {
      font-size: 32px;
      line-height: 34px;
    }
  }
  .about-statistic {
    &__inner {
      flex-wrap: wrap;
    }
    &__item {
      width: 50%;
    }
    &__item:nth-child(-n+2) {
      margin-bottom: 25px;
    }
    &__num {
      margin: 12px 0 8px;
    }
  }
}
@media (max-width: 740px) {
  .about__title {
    font-size: 28px;
    line-height: 36px;
  }
  .about-company {
    padding: 25px 0;
    &__box {
      flex-direction: column;
    }
    &__age {
      font-size: 110px;
      margin-right: 12px;
    }
    &__pre-title {
      height: 120px;
      margin-bottom: 10px;
    }
    &__achiev-num {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 2px;
    }
    &__text {
      margin-bottom: 12px;
  }
    &__achiev-item--proj {
      padding-left: 55px;
      &::before {
        top: 12px;
      }
    }
    &__achiev-item--reven {
      &::before {
        top: 10px;
      }
    }
    &__achiev-item--awards {
      &::before {
        top: 11px;
      }
    }
  }
  .about-team {
    &__person-data {
    max-width: 290px;
    padding: 16px 15px 10px 18px;
    }
  }
}
@media (max-width: 660px) {
  .about-team {
    &__person-data {
      max-width: 270px;
      padding: 16px 8px 10px 10px;
    }
  }
}
@media (max-width: 590px) {
  .about-team {
    padding: 35px 0;
    &__people {
      grid-template-columns: repeat(1, 1fr);
    }
    &__person-data {
      max-width: 290px;
      padding: 16px 15px 10px 18px;
      }
  }
}
@media (max-width: 520px) {
  .about-company {
    &__achiev {
      display: none;
    }
  }
}
@media (max-width: 420px) {
  .about-statistic {
    &__inner {
      padding: 35px 0;
  }
    &__item {
      width: 100%;
    }
  }
}