@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import '../module/_header/_header';
@import '../module/_top/_top';
@import '../module/_contact-form/_contact-form';
@import '../module/_articles/_articles';
@import '../module/_partners/_partners';
@import '../module/_footer/_footer';

.contact {
  text-align: center;
  padding: 120px 0 30px;
  &__pretitle {
    @extend %poppins-700;
    line-height: 20px;
    color: $btn;
    margin-bottom: 10px;
    &--active {
      transform: scale(1.2);
    }
  }
  &__title {
    font-size: 36px;
    line-height: 56px;
    color: #436372;
    margin-bottom: 65px;
  }
  ul.contact__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    height: 380px;
    background-color: #fbfbfb;
    padding: 70px 0;
    border: 3px solid transparent;
    transition: all .3s;
    & + .contact__item {
      margin-left: 30px;
    }
    &:hover {
      border: 3px solid $btn;
      .contact__item-img {
        background-color: $btn;
        path {
          fill: #fff;
        }
      }
    }
    a {
      transition: all .3s;
      &:hover {
        color: $btn;
      }
    }
  }
  &__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    margin: 0 auto;
    transition: all .3s;
    & path {
      transition: all .3s;
    }
  }
  &__type {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #222;
    padding: 62px 0 20px;
  }
  &__info {
    display: block;
    @extend %rubik-400;
    line-height: 30px;
    color: #565872;
  }
  &__box {
    display: flex;
  }
  .map {
    width: 500px;
    height: 335px;
  }
}