@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 45px;
  }
}
.menu {
  padding-left: 155px;
  ul {
    display: flex;
    list-style: none;
  }
  &__item {
    padding-top: 10px;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__item-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    white-space: nowrap;
    padding: 0 2px 2px 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover {
      border-bottom: 1px solid #436372;
    }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  position: relative;
  &__form {
    position: absolute;
    top: 60px;
    opacity: 0;
    &--active {
      opacity: 1;
    }
  }
  &__input {
    width: 210px;
    font-size: 15px;
    padding: 1px 5px;
    border: 2px solid #edf1f4;
    border-radius: 4px;
  }
  &__search-btn {
    width: 51px;
    height: 51px;
    text-align: center;
    background-color: #edf1f4;
    border: none;
    border-radius: 50%;
    margin-right: 21px;
    cursor: pointer;
  }
  &__search-img {
    margin: 0 auto;
  }
  &__wishlist-link,
  &__cart-link {
    width: 90px;
    height: 51px;
    position: relative;
    background-color: #fcd7b6;
    padding-top: 22px;
  }
  &__wishlist-link {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      left: 90px;
      bottom: 9px;
      z-index: 1;
    }
  }
  &__cart-link {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &__num {
    position: absolute;
    top: 13px;
    left: 47px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }
  &__wishlist-img,
  &__cart-img {
    margin: 0 auto;
  }
  &__catalog-link {
    margin-left: 18px;
  }
}
.slider {
  &__wrap {
    background-image: url(../images/slider-bg.jpg);
    background-position: center right;
  }
  &__inner {
    height: 820px;
    @extend %rubik-500;
    padding: 225px 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__content {
    max-width: 411px;
    width: 100%;
  }
  &__title {
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
  }
  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin: 40px 0;
  }
  &__link  {
    @extend %btn-arrow;
  }
  &__img {
    max-width: 640px;
    object-fit: contain;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  counter-reset: list;
  & button::before {
    content: counter(list);
    counter-increment: list;
    font-size: 11px;
    color: #667983;
  }
  button {
    width: 30px;
    height: 30px;
    background-color: #fde3cc;
    font-size: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
  }
  & .slick-active button {
    background-color: #fff;
  }
  & .slick-active button::before {
    color: #243f4d;
  }
}
.services {
  &__list {
    position: relative;
    background-color: #fef7f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #e8e4df;
    }
    &::before{
      left: 33.333%;
    }
    &::after{
      right: 33.333%;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }
  &__item-img {
    padding-right: 24px;
  }
  &__item-content {
    max-width: 213px;
    &:nth-child(1) {
      max-width: 209px;
    }
  }
  &__item-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__item-desc {
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}
ul.services__list {
  padding: 48px 0 40px;
}
.popular {
  text-align: center;
  &__title {
    @extend %section-title;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
  &__item {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 30px 15px 28px 15px;
    position: relative;
    &:hover .item-links {
    opacity: 1;
    }
  }
  &__item-img {
    margin: 0 auto;
  }
  &__item-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 80px;
  }
  &__item-price {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: $btn;
  }
}
.product-filters__btn {
  @extend %flt;
}
.item-links {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  opacity: 0;
  transition: all .3s;
}
.item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  transition: all .3s;
  &:hover {
    path {
      fill: #fff;
    }
    background-color: #a3bac7;
    transform: scale(1.05);
  }
}
.item-link svg path {
  transition: .4s;
}
.item-link + .item-link {
  margin-left: 15px;
}
.lamps {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 185px 0 105px;
  }
  &__item {
    display: flex;
    height: 390px;
    background-color: #feefe2;
    padding: 90px 5px 85px 55%;
    position: relative;
  }
  &__item-img {
    position: absolute;
    left: 16%;
    bottom: 85px;
  }
  &__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 332px;
  }
  &__inner-title {
    font-size: 26px;
    line-height: 32px;
  }
  &__inner-desc {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
  }
  &__inner-link {
    @extend %btn-arrow;
    color: #436372;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 24px 85px 24px 20px;
    margin-top: auto;
    &::after {
      background-image: url(../images/icons/lamps__arrow-right.svg);
    }
    &:hover {
      background-color: rgba($btn, .1);
    }
  }
}
.new-design {
  &__title {
    @extend %section-title;
    text-align: center;
  }
  & .product-filters {
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item {
    max-width: 370px;
    height: 245px;
    background-size: cover;
    background-position: bottom right;
    padding: 40px 0 0 40px;
    position: relative;
    &:hover .item-links {
      opacity: 1;
    }
  }
  &__item-title {
    max-width: 175px;
    font-size: 20px;
    line-height: 24px;
    color: $title;
    margin-bottom: 16px;
  }
  &__item-coll {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $btn;
  }
  & .item-links {
    bottom: 30px;
  }
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 120px 0 20px;
  &__play-btn {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      background-color: rgba(163, 187, 200, .4);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 98px;
      height: 98px;
      background-image: url(../images/icons/video__play-btn.svg);
      position: relative;
    }
  }
}
.articles {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
  }
  &__title {
    @extend %section-title;
  }
  &__top-link {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    padding-right: 25px;
    position: relative;
    transition: all .3s;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 6px;
      height: 11px;
      background-image: url(../images/icons/angle-right.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  &__inner {
    display: flex;
  }
  &__item {
    width: 370px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__item-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
  }
  &__item-news-link {
    display: block;
    max-width: fit-content;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: $btn;
    padding: 5px 30px;
    border-radius: 15px;
    margin-left: 30px;
    transform: translateY(-15px);
    transition: all .3s;
    &:hover {
      font-size: 15px;
    }
  }
  &__item-box {
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px;
  }
  &__item-title {
    font-size: 18px;    
    font-weight: 500;
    color: #262626;
    border-bottom: 1px solid transparent;
    & svg {
      margin-left: 15px;
      path {
        fill: #fff;
        transition: all .4s;
      }
    }
    &:hover svg {
      path {
        fill: rgba(#262626, .9);
      }
    }
  }
  &__item-bottom {
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    padding-top: 12px;
    border-top: 1px solid #e0e0e0;
    margin-top: auto;
  }
  &__author-link {
    padding-right: 7px;
    border-bottom: 1px solid transparent;
    margin-left: 25px;
    transition: all .3s;
    &:hover {
      border-bottom: 1px solid #222933;
    }
  }
}
.partners-start-page {
  background-color: #fef1e4;
  padding-top: 180px;
  margin-top: -200px;
}
.partners {
  background-color: #fef1e4;
}
.partners-block {
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 80px 0 90px;
}
.footer {
  @extend %rubik-400;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 75px;
  border-bottom: 1px solid #dae4e9;
  &__item-title {
    @extend %dnsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  &__item {
    max-width: 192px;
    & .logo {
      display: block;
      margin-bottom: 32px;
    }
    & span {
      text-transform: uppercase;
    }
  }
  &__account {
    margin: 0 90px;
  }
  &__newsletter {
    max-width: 270px;
  }
  &__list-item {
    margin-top: 10px;    
  }
  &__item-text {
    margin-bottom: 32px;
  }
  &__input {
    @extend %dnsans-400;
    font-size: 12px;
    background-color: #fef7f0;
    padding: 7px 5px 7px 15px;
    &::placeholder {
    color: #234969;
    }
  }
  &__btn {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: $btn;
    padding: 8px 18px 9px 15px;
    margin-left: -4px;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  padding: 35px 0 40px;
  &__menu {
    display: flex;
  }
  &__menu-item {
    padding: 0 15px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__menu-item:not(:last-child) {
    border-right: 1px solid #7b7b7b;
  }
}
.modal {
  &__form {
    max-width: 470px;
    width: 100%;
    margin: 120px auto;
  }
  &__label {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
  }
  &__input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 7px;
    border: 2px solid #f6f6f6;
    margin: 8px 0 25px;
  }
  &__btn {
    width: 100%;
    height: 60px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    background-color: $btn;
    border: 2px solid transparent;
    margin: 10px 0 35px;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      color: $btn;
      background-color: #fff;
      border: 2px solid $btn;
    }
  }
  &__checkbox-lostpass {
    display: flex;
    justify-content: space-between;
    color: #436372;
    margin-bottom: 30px;
    & label {
      cursor: pointer;
    }
  }
  &__checkbox {
    @extend %checkbox-hide;
    &:checked + span::before {
      background-image: url(../images/icons/check.svg);
    }
  }
  &__checkbox-text {
    padding-left: 25px;
    position: relative;
    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: #ebebeb;
      position: absolute;
      left: 0;
      bottom: 2px;
    }
  }
  &__lostpass-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover {
      border-bottom: 1px solid #436372;
    }
  }
  &__go-register {
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    text-align: center;
    padding: 27px 0 20px;
    border-top: 2px solid #f6f6f6;
  }
  &__register-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    @extend %rubik-500;
    font-size: 18px;
    border: 2px solid $btn;
    transition: all .3s;
    &:hover {
      background-color: $btn;
    }
  }
}






@import 'media';