<div class="blog__aside">
   {% include "app/module/_search-form/_search-form.njk" %}
   <div class="filter">
      <div class="aside-title-box">
         <h5 class="aside-title">CATEGORY</h5>
         <span class="aside-title-line"></span>
      </div>
      <a class="filter__link filter__link--category" href="#">Chair</a>
      <a class="filter__link filter__link--category" href="#">Table</a>
      <a class="filter__link filter__link--category" href="#">Lamp</a>
      <a class="filter__link filter__link--category" href="#">Watch</a>
      <a class="filter__link filter__link--category" href="#">Clock</a>
   </div>
   <div class="posts">
      <div class="aside-title-box">
         <h5 class="aside-title">Recent Posts</h5>
         <span class="aside-title-line"></span>
      </div>
      <div class="posts__item">
         <img class="posts__item-img" src="images/blog-page/post-1.jpg" alt="post image">
         <div class="posts__item-box">
            <a class="post__item-title-link" href="#">
               <h6 class="posts__item-title">
                  Corem ipsum dolor tetur adipisicing elit
               </h6>
            </a>
            <span class="posts__item-date">28 JANUARY, 2020</span>
         </div>
      </div>
      <div class="posts__item">
         <img class="posts__item-img" src="images/blog-page/post-2.jpg" alt="post image">
         <div class="posts__item-box">
            <a class="post__item-title-link" href="#">
               <h6 class="posts__item-title">
                  Fdipisicing elit, sed do eiusmod tempor
               </h6>
            </a>
            <span class="posts__item-date">28 JANUARY, 2020</span>
         </div>
      </div>
      <div class="posts__item">
         <img class="posts__item-img" src="images/blog-page/post-3.jpg" alt="post image">
         <div class="posts__item-box">
            <a class="post__item-title-link" href="#">
               <h6 class="posts__item-title">
                  Eonsectetur adipisicing elit, sed do eiusmod
               </h6>
            </a>
            <span class="posts__item-date">28 JANUARY, 2020</span>
         </div>
      </div>
      <div class="posts__item">
         <img class="posts__item-img" src="images/blog-page/post-4.jpg" alt="post image">
         <div class="posts__item-box">
            <a class="post__item-title-link" href="#">
               <h6 class="posts__item-title">
                  gnim ad minim veniam, quis nostrud
               </h6>
            </a>
            <span class="posts__item-date">28 JANUARY, 2020</span>
         </div>
      </div>
   </div>
</div>