@import '../module/_product-items/_product-items';

.related-prod {
  padding-bottom: 15px;
  &__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 70px;
  }
  .slick-list {
    margin-left: -25px;
  }
  .slick-slide {
    margin: 47px 25px;
  }
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    border: 2px solid $btn;
    border-radius: 4px;
    position: absolute;
    top: -105px;
    right: 0;
    &::before {
      content: '';
      width: 22px;
      height: 9px;
      top: 19px;
      left: 13px;
      position: absolute;
    }
  }
  .slick-prev {
    right: 70px;
    &::before {
      background-image: url(../images/icons/arrow-left.svg);
    }
  }
  .slick-next::before {
    background-image: url(../images/icons/arrow-right.svg);
  }
  .slick-disabled {
    border-color: #edf1f4;
  }
}

@media (max-width: 1180px) {
  .related-prod {
    padding: 0;
    &__title {
      margin-bottom: 5px;
    }
    .slick-prev,
    .slick-next {
      top: -40px;
    }
  }
}