<section class="related-prod">
   <div class="container-s">
      <h3 class="related-prod__title">Related products</h3>
      <div class="related-prod__slider-wrap">
         {% include "app/module/_product-items/_product-items.njk" %}
      </div>
   </div>
</section>