.header {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px 0 45px;
    transition: all .3s;
  }
}
.logo {
  position: relative;
  z-index: 2;
}
.menu {
  padding-left: 155px;
  &__btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 21px;
    outline: none;
    position: absolute;
    right: 20px;
    top: 70px;
    z-index: 3;
    transition: all .3s;
    span {
      width: 35px;
      height: 3px;
      background-color: #436372;
      transition: all .3s;
    }
    .menu__btn-line-2 {
      transition: all 0s;
    }
  }
  &__btn--active {
    .menu__btn-line-2 {
      opacity: 0;
    }
    .menu__btn-line-1 {
      transform: translateY(9px) rotate(45deg) scaleX(.8);
    }
    .menu__btn-line-3 {
      transform: translateY(-9px) rotate(-45deg) scaleX(.8);
    }
  }
  ul {
    display: flex;
    list-style: none;
  }
  &__item {
    padding-top: 10px;
  }
  &__item + .menu__item {
    margin-left: 30px;
  }
  &__item-link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    white-space: nowrap;
    padding: 0 2px 2px 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover {
      border-bottom: 1px solid #436372;
    }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  &__links {
    display: flex;
    transition: all .3s;
  }
  &__form {
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: all .3s;
    &--active {
      opacity: 1;
    }
  }
  &__input {
    width: 210px;
    font-size: 15px;
    padding: 1px 5px;
    border: 2px solid #edf1f4;
    border-radius: 4px;
  }
  &__search-btn {
    width: 51px;
    height: 51px;
    text-align: center;
    background-color: #edf1f4;
    border: none;
    border-radius: 50%;
    margin-right: 21px;
  }
  &__search-img {
    margin: 0 auto;
  }
  &__wishlist-link,
  &__cart-link {
    width: 90px;
    height: 51px;
    position: relative;
    background-color: #fcd7b6;
    padding-top: 22px;
  }
  &__wishlist-link {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      position: absolute;
      left: 90px;
      bottom: 9px;
      z-index: 1;
    }
  }
  &__cart-link {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &__num {
    position: absolute;
    top: 13px;
    left: 47px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }
  &__wishlist-img,
  &__cart-img {
    margin: 0 auto;
  }
  &__catalog-link {
    width: 50px;
    height: 50px;
    margin-left: 18px;
  }
}

@media (max-width: 1320px) {
  .header {
    &__inner {
      padding: 30px 0 45px;
    }
  }
  .menu {
    padding-left: 0;
  }
}
@media (max-width: 1080px) {
  .menu {
    order: 1;
    padding: 10px 50px 0;
    margin: 0 auto;
  }
  .user-nav {
    &__form {
      top: 12px;
      right: 330px;
    }
  }
}
@media (max-width: 740px) {
  .header {
    &__inner {
      flex-wrap: nowrap;
    }
  }
  .menu {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    ul {
      flex-direction: column;
      align-items: center;
      transform: translateY(-500%);
      transition: all .3s;
    }
    .menu-list--active {
      transform: translateY(112px);
    }
    &__item {
      width: 100%;
      text-align: center;
      background-color: rgba($btn, .9);
      padding: 0;
      &:hover {
        background-color: rgba($btn, .99);
      }
    }
    &__item-link {
      display: block;
      width: 100%;
      padding: 20px 0;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &__item + .menu__item {
      margin: 0;
    }
    &__btn {
      display: flex;
    }
  }
  .user-nav {
    &__search-btn {
      margin-right: 12px;
    }
    &__catalog-link {
      margin-left: 12px;
    }
    &__form {
      top: 65px;
      right: 110px;
    }
  }
}
@media (max-width: 520px) {
  .header {
    &__inner {
      padding: 15px 0 62px;
      &--move {
        padding-bottom: 107px;
      }
    }
  }
  .menu {
    &__btn--move {
      top: 120px;
    }
  }
  .user-nav{
    &__search-btn {
      margin-right: 0;
    }
    &__links {
      position: absolute;
      top: 60px;
      right: 60px;
    }
    &__links--move {
      top: 105px;
    }
    &__form {
      right: 0;
    }
    &__input {
      width: 0;
      transition: all .3s;
      &--active {
        width: 210px;
      }
    }
  }
}