<div class="product-items">
  <div class="product-item__wrap mix category-furnitures">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-1.png" alt="furniture image">
          <img class="product-item__img--list" src="images/products/product-1-list.png"
             alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden radio</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-chairs">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-2.png" alt="furniture image">
          <img class="product-item__img--list" src="images/products/product-2-list.png"
             alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-furnitures">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-3.png" alt="furniture image">
          <img class="product-item__img--list" src="images/products/product-3-list.png"
             alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">White chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-lighting">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-4.png" alt="furniture image">
          <img class="product-item__img--list" src="images/products/product-4-list.png"
             alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Retro table</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-lighting">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-5.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden radio</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-furnitures">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-6.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-decor">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-7.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">White chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-chairs category-furnitures">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-8.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Retro table</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-lighting">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-9.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Retro table</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-lighting">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-10.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden radio</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-furnitures">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-11.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">Wooden chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
  <div class="product-item__wrap mix category-decor">
    <div class="product-item">
       <div class="product-item__img-wrap">
          <img class="product-item__img" src="images/products/product-1.png" alt="furniture image">
       </div>
       <div class="product-item__info">
          <h5 class="product-item__title">White chair</h5>
          <div class="star-l" data-rateyo-rating="4"></div>
          <span class="product-item__price--list">$29</span>
          <p class="product-item__desc">
             consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
          <span class="product-item__price">$29.00</span>
         {% include "app/module/_item-links/_item-links.njk" %}
       </div>
    </div>
  </div>
</div>