<div class="pagination">
   <button class="pagination__prev-btn" type="submit">Prev</button>
   <ul class="pagination__list">
      <li class="pagination__item">
         <button class="pagination__item-btn pagination__item-btn--active" type="submit">1</button>
      </li>
      <li class="pagination__item">
         <button class="pagination__item-btn" type="submit">2</button>
      </li>
      <li class="pagination__item">
         <button class="pagination__item-btn" type="submit">3</button>
      </li>
   </ul>
   <button class="pagination__next-btn" type="submit">Next</button>
</div>