<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Glee About us</title>
   <link rel="stylesheet" href="css/about.min.css">
</head>

<body>
{% include "app/module/_header/_header.njk" %}

   <main class="main">

      <div class="top">
         <div class="container-s">
            <div class="top__inner">
               <h2 class="top__title">About Us</h2>
               <div class="breadcrumbs">
                  <ul class="breadcrumbs__list">
                     <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                     </li>
                     <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">About Us</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <section class="about">
         <div class="container-s">
            <div class="about-company">
               <img class="about-company__img" src="images/about/about-company.jpg" alt="image">
               <div class="about-company__content">
                  <div class="about-company__pre-title">
                     <span class="about-company__age">12</span>
                     <div class="about-company__pre-title-text">
                        <span>Years</span>
                        <span>Experience</span>
                        <span>Working</span>
                     </div>
                  </div>
                  <h2 class="about-company__title about__title">Mission of our creative house</h2>
                  <p class="about-company__text">
                     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                     enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  </p>
                  <div class="about-company__achiev">
                     <div class="about-company__achiev-item about-company__achiev-item--proj">
                        <div class="about-company__achiev-num">520+</div>
                        <div class="about-company__achiev-name">Projects</div>
                     </div>
                     <div class="about-company__achiev-item about-company__achiev-item--reven">
                        <div class="about-company__achiev-num">$4M</div>
                        <div class="about-company__achiev-name">Revenue</div>
                     </div>
                     <div class="about-company__achiev-item about-company__achiev-item--awards">
                        <div class="about-company__achiev-num">250</div>
                        <div class="about-company__achiev-name">Awards</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="about-statistic">
            <div class="container-s">
               <div class="about-statistic__inner">
                  <div class="about-statistic__item">
                     <img class="about-statistic__img" src="images/icons/about-diagram.svg" alt="statistic icon">
                     <div class="about-statistic__num about__title">99%</div>
                     <div class="about-statistic__name">Satisﬁed Clients Rate</div>
                  </div>
                  <div class="about-statistic__item">
                     <img class="about-statistic__img" src="images/icons/about-truck.svg" alt="statistic icon">
                     <div class="about-statistic__num about__title">5020+</div>
                     <div class="about-statistic__name">Products Delivered</div>
                  </div>
                  <div class="about-statistic__item">
                     <img class="about-statistic__img" src="images/icons/about-work-time.svg" alt="statistic icon">
                     <div class="about-statistic__num about__title">23hr</div>
                     <div class="about-statistic__name">Daily Working Time</div>
                  </div>
                  <div class="about-statistic__item">
                     <img class="about-statistic__img" src="images/icons/about-brand.svg" alt="statistic icon">
                     <div class="about-statistic__num about__title">140+</div>
                     <div class="about-statistic__name">Brands in Store</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="about-team">
            <div class="container-s">
               <div class="about-team__inner">
                  <div class="about-team__info">
                     <h2 class="about-team__title about__title">Our Team</h2>
                     <p class="about-team__text">
                        Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem
                        ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.
                     </p>
                     <a class="about-team__link" href="#">Join With US</a>
                  </div>
                  <ul class="about-team__people">
                     <li class="about-team__person">
                        <a class="about-team__person-img-link" href="#">
                           <img class="about-team__person-img" src="images/about/person-1.jpg" alt="persons image">
                        </a>
                        <div class="about-team__person-data">
                           <div class="about-team__person-info">
                              <a class="about-team__person-name" href="#">Eliza Elliot</a>
                              <div class="about-team__person-post">Commodo tempor</div>
                           </div>
                           <div class="about-team__person-social">
                              <a class="about-team__person-link about-team__person-inst" href="#"></a>
                              <a class="about-team__person-link about-team__person-google" href="#"></a>
                           </div>
                        </div>
                     </li>
                     <li class="about-team__person">
                        <a class="about-team__person-img-link" href="#">
                           <img class="about-team__person-img" src="images/about/person-2.jpg" alt="persons image">
                        </a>
                        <div class="about-team__person-data">
                           <div class="about-team__person-info">
                              <a class="about-team__person-name" href="#">Roscoe A.</a>
                              <div class="about-team__person-post">Commodo tempor</div>
                           </div>
                           <div class="about-team__person-social">
                              <a class="about-team__person-link about-team__person-inst" href="#"></a>
                              <a class="about-team__person-link about-team__person-google" href="#"></a>
                           </div>
                        </div>
                     </li>
                     <li class="about-team__person">
                        <a class="about-team__person-img-link" href="#">
                           <img class="about-team__person-img" src="images/about/person-3.jpg" alt="persons image">
                        </a>
                        <div class="about-team__person-data">
                           <div class="about-team__person-info">
                              <a class="about-team__person-name" href="#">Ruby M.</a>
                              <div class="about-team__person-post">Commodo tempor</div>
                           </div>
                           <div class="about-team__person-social">
                              <a class="about-team__person-link about-team__person-inst" href="#"></a>
                              <a class="about-team__person-link about-team__person-google" href="#"></a>
                           </div>
                        </div>
                     </li>
                     <li class="about-team__person">
                        <a class="about-team__person-img-link" href="#">
                           <img class="about-team__person-img" src="images/about/person-4.jpg" alt="persons image">
                        </a>
                        <div class="about-team__person-data">
                           <div class="about-team__person-info">
                              <a class="about-team__person-name" href="#">Marie F. Bloss</a>
                              <div class="about-team__person-post">Commodo tempor</div>
                           </div>
                           <div class="about-team__person-social">
                              <a class="about-team__person-link about-team__person-inst" href="#"></a>
                              <a class="about-team__person-link about-team__person-google" href="#"></a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>

{% include "app/module/_articles/_articles.njk" %}

{% include "app/module/_partners/_partners.njk" %}

   </main>

{% include "app/module/_footer/_footer.njk" %}

   <script src="js/main.min.js"></script>
</body>

</html>