<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Glee Blog</title>
   <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
{% include "app/module/_header/_header.njk" %}

   <main class="main">

      <section class="top">
         <div class="container-s">
            <div class="top__inner">
               <h2 class="top__title">Blog</h2>
               <div class="breadcrumbs">
                  <ul class="breadcrumbs__list">
                     <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Home</a>
                     </li>
                     <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Blog</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>

      <section class="blog">
         <div class="container-s">
            <div class="blog__inner">
               <div class="blog__content">
                  <div class="blog__item">
                     <a class="blog__item-img-link" href="#">
                        <img class="blog__item-img" src="images/blog-page/1.jpg" alt="blog article image">
                     </a>
                     <div class="blog__item-info">
                        <span class="blog__item-date">28 JANUARY, 2020</span>
                        <a class="blog__item-author" href="#">BY ADMIN</a>
                     </div>
                     <a class="blog__item-title-link" href="#">
                        <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod </h3>
                     </a>
                     <p class="blog__item-text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                     </p>
                     <a class="blog__item-link" href="#">View More</a>
                  </div>
                  <div class="blog__item">
                     <a class="blog__item-img-link" href="#">
                        <img class="blog__item-img" src="images/blog-page/2.jpg" alt="blog article image">
                     </a>
                     <div class="blog__item-info">
                        <span class="blog__item-date">28 JANUARY, 2020</span>
                        <a class="blog__item-author" href="#">BY ADMIN</a>
                     </div>
                     <a class="blog__item-title-link" href="#">
                        <h3 class="blog__item-title" class="blog__item-tite">Fonsectetur adipisicing elit,</h3>
                     </a>
                     <p class="blog__item-text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                     </p>
                     <a class="blog__item-link" href="#">View More</a>
                  </div>
                  <div class="blog__item">
                     <a class="blog__item-img-link" href="#">
                        <img class="blog__item-img" src="images/blog-page/3.jpg" alt="blog article image">
                     </a>
                     <div class="blog__item-info">
                        <span class="blog__item-date">28 JANUARY, 2020</span>
                        <a class="blog__item-author" href="#">BY ADMIN</a>
                     </div>
                     <a class="blog__item-title-link" href="#">
                        <h3 class="blog__item-title" class="blog__item-tite">Fonsectetur adipisicing eiusmod </h3>
                     </a>
                     <p class="blog__item-text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                     </p>
                     <a class="blog__item-link" href="#">View More</a>
                  </div>
                  <div class="blog__item">
                     <a class="blog__item-img-link" href="#">
                        <img class="blog__item-img" src="images/blog-page/4.jpg" alt="blog article image">
                     </a>
                     <div class="blog__item-info">
                        <span class="blog__item-date">28 JANUARY, 2020</span>
                        <a class="blog__item-author" href="#">BY ADMIN</a>
                     </div>
                     <a class="blog__item-title-link" href="#">
                        <h3 class="blog__item-title" class="blog__item-tite">vonsectetur adipisicing elit</h3>
                     </a>
                     <p class="blog__item-text">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                     </p>
                     <a class="blog__item-link" href="#">View More</a>
                  </div>
                  <div class="pagination">
                     <button class="pagination__prev-btn" type="submit">Prev</button>
                     <ul class="pagination__list">
                        <li class="pagination__item">
                           <button class="pagination__item-btn pagination__item-btn--active" type="submit">1</button>
                        </li>
                        <li class="pagination__item">
                           <button class="pagination__item-btn" type="submit">2</button>
                        </li>
                        <li class="pagination__item">
                           <button class="pagination__item-btn" type="submit">3</button>
                        </li>
                     </ul>
                     <button class="pagination__next-btn" type="submit">Next</button>
                  </div>
               </div>
               <div class="blog__aside">
                  <form class="search-form" action="#">
                     <input class="search-form__input" type="search" placeholder="Type what do you search">
                     <button class="search-form__btn" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.03" height="17" viewBox="0 0 17.03 17">
                           <path fill="#094074" fill-rule="evenodd"
                              d="M1529.25,418.92a0.6,0.6,0,0,1-.42-0.174l-5.3-5.3a6.515,6.515,0,1,1,.84-0.839l5.3,5.3a0.6,0.6,0,0,1,0,.839A0.6,0.6,0,0,1,1529.25,418.92Zm-9.9-15.833a5.344,5.344,0,1,0,5.35,5.344A5.351,5.351,0,0,0,1519.35,403.087Z"
                              transform="translate(-1512.81 -401.906)" />
                        </svg>
                     </button>
                  </form>
                  <div class="filter">
                     <div class="aside-title-box">
                        <h5 class="aside-title">CATEGORY</h5>
                        <span class="aside-title-line"></span>
                     </div>
                     <a class="filter__link filter__link--category" href="#">Chair</a>
                     <a class="filter__link filter__link--category" href="#">Table</a>
                     <a class="filter__link filter__link--category" href="#">Lamp</a>
                     <a class="filter__link filter__link--category" href="#">Watch</a>
                     <a class="filter__link filter__link--category" href="#">Clock</a>
                  </div>
                  <div class="posts">
                     <div class="aside-title-box">
                        <h5 class="aside-title">Recent Posts</h5>
                        <span class="aside-title-line"></span>
                     </div>
                     <div class="posts__item">
                        <img class="posts__item-img" src="images/blog-page/post-1.jpg" alt="post image">
                        <div class="posts__item-box">
                           <a class="post__item-title-link" href="#">
                              <h6 class="posts__item-title">
                                 Corem ipsum dolor tetur adipisicing elit
                              </h6>
                           </a>
                           <span class="posts__item-date">28 JANUARY, 2020</span>
                        </div>
                     </div>
                     <div class="posts__item">
                        <img class="posts__item-img" src="images/blog-page/post-2.jpg" alt="post image">
                        <div class="posts__item-box">
                           <a class="post__item-title-link" href="#">
                              <h6 class="posts__item-title">
                                 Fdipisicing elit, sed do eiusmod tempor
                              </h6>
                           </a>
                           <span class="posts__item-date">28 JANUARY, 2020</span>
                        </div>
                     </div>
                     <div class="posts__item">
                        <img class="posts__item-img" src="images/blog-page/post-3.jpg" alt="post image">
                        <div class="posts__item-box">
                           <a class="post__item-title-link" href="#">
                              <h6 class="posts__item-title">
                                 Eonsectetur adipisicing elit, sed do eiusmod
                              </h6>
                           </a>
                           <span class="posts__item-date">28 JANUARY, 2020</span>
                        </div>
                     </div>
                     <div class="posts__item">
                        <img class="posts__item-img" src="images/blog-page/post-4.jpg" alt="post image">
                        <div class="posts__item-box">
                           <a class="post__item-title-link" href="#">
                              <h6 class="posts__item-title">
                                 gnim ad minim veniam, quis nostrud
                              </h6>
                           </a>
                           <span class="posts__item-date">28 JANUARY, 2020</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

{% include "app/module/_partners/_partners.njk" %}

   </main>

{% include "app/module/_footer/_footer.njk" %}

   <script src="js/main.min.js"></script>
</body>

</html>