<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Glee Product</title>
   <link rel="stylesheet" href="css/product-details.min.css">
</head>

<body>
   {% include "app/module/_header/_header.njk" %}

   <main class="main">

      {% include "app/module/_top/_top.njk" %}
      {% include "app/module/_product-details/_product-details.njk" %}
      {% include "app/module/_related-products/_related-products.njk" %}
      {% include "app/module/_articles/_articles.njk" %}
      {% include "app/module/_partners/_partners.njk" %}

   </main>

{% include "app/module/_footer/_footer.njk" %}

   <script src="js/main.min.js"></script>
</body>

</html>