.new-design {
  &__title {
    @extend %section-title;
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item {
    max-width: 370px;
    height: 245px;
    background-size: cover;
    background-position: bottom right;
    padding: 40px 0 0 40px;
  }
  &__item-title {
    max-width: 175px;
    font-size: 20px;
    line-height: 24px;
    color: $title;
    margin-bottom: 16px;
  }
  &__item-coll {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $btn;
  }
}

@media (max-width: 1180px) {
  .new-design {
    &__items {
      grid-gap: 25px;
    }
    &__item {
      padding: 17px 7px 0 22px;
      background-position: bottom -10px right;
    }
    &__item-title {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 890px) {
  .new-design {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    &__item {
      max-width: 100%;
      background-position: bottom -15px right;
    }
  }
}
@media (max-width: 660px) {
  .new-design {
    &__item {
      background-position: bottom -15px right -30px;
    }
  }
}
@media (max-width: 590px) {
  .new-design {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 15px;
    }
    &__item {
      max-width: 435px;
      width: 100%;
      background-position: bottom -15px right 0;
      padding-left: 15px;
    }
    &__item-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 12px;
    }
  }
}