      <section class="new-design">
         <div class="container-s">
            <h2 class="new-design__title section-title">New Design</h2>
            {% include "app/module/_new-product-filters/_new-product-filters.njk" %}
            <div class="new-design__items">
               <div class="new-design__item mix category-furnitures"
                  style="background-image: url(images/new-design/1.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Beat Flat Pendant Black</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
               <div class="new-design__item mix category-lighting category-decor-nd"
                  style="background-image: url(images/new-design/2.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Lampe Sur Pieds Bamboo</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
               <div class="new-design__item mix category-chairs"
                  style="background-image: url(images/new-design/3.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Rattan Rocking Chair</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
               <div class="new-design__item mix category-lighting  category-decor-nd"
                  style="background-image: url(images/new-design/4.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Rattan Rocking Chair</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
               <div class="new-design__item mix category-chairs"
                  style="background-image: url(images/new-design/5.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Rattan Rocking Chair</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
               <div class="new-design__item mix category-furnitures category-lighting"
                  style="background-image: url(images/new-design/6.jpg);">
                  <h5 class="new-design__item-title">
                  <a class="new-design__item-title-link" href="#">Rattan Rocking Chair</a>
                  </h5>
                  <a class="new-design__item-coll" href="#">Classic</a>
               </div>
            </div>
         </div>
      </section>