<div class="slider">
   <div class="container-l">
      <div class="slider__wrap">
         <div class="container-s">
            <div class="slider__inner">
               <div class="slider__item-wrap">
                  <div class="slider__item">
                     <div class="slider__content">
                        <h1 class="slider__title">SMART AND TRENDY</h1>
                        <p class="slider__text">
                           Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="slider__link" href="#">Shop Now</a>
                     </div>
                     <img class="slider__img" src="images/slider/1.png" alt="furniture image">
                  </div>
               </div>
               <div class="slider__item-wrap">
                  <div class="slider__item">
                     <div class="slider__content">
                        <h1 class="slider__title">SMART AND TRENDY</h1>
                        <p class="slider__text">
                           Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="slider__link" href="#">Shop Now</a>
                     </div>
                     <img class="slider__img" src="images/slider/1.png" alt="furniture image">
                  </div>
               </div>
               <div class="slider__item-wrap">
                  <div class="slider__item">
                     <div class="slider__content">
                        <h1 class="slider__title">SMART AND TRENDY</h1>
                        <p class="slider__text">
                           Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="slider__link" href="#">Shop Now</a>
                     </div>
                     <img class="slider__img" src="images/slider/1.png" alt="furniture image">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>