@import '../../node_modules/rateyo/src/jquery.rateyo';
@import '../module/_aside-title-box/_aside-title-box';
@import '../module/_product-display/_product-display';
@import '../module/_filter/_filter';
@import '../module/_rangeslider/_rangeslider';
@import '../module/_product-items/_product-items';
@import '../module/_pagination/_pagination';

.product-list {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__aside {
    min-width: 270px;
    margin-right: 30px;
  }
  &__content {
    width: 100%;
  }
  .filters {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url(../../images/icons/filter.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid $btn;
    border-radius: 4px;
    position: fixed;
    top: 245px;
    right: 25px;
    z-index: 6;
    &--noact {
      z-index: 0;
    }
  }
}

.price-filter {
  .filter__form {
    padding-top: 10px;
  }
  &__diapason {
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 26px;
    color: inherit;
  }
  &__from {
    margin-right: auto;
  }
}

.irs {
  &-min,
  &-max {
    display: none;
  }
}
.irs--flat {
  & .irs-line {
    top: 0;
    height: 1px;
    background-color: #c2d2db;
    border-radius: 0;
    box-shadow: 0 -1px 0 0 #dfe7ec, 0 1px 0 0 #dfe7ec;
  }
  & .irs-bar {
    top: 1px;
    height: 2px;
    background-color: $btn;
    box-shadow: 0 -1px 0 0 #bfd0d9, 0 1px 0 0 #d4dfe5;
  }
  & .irs-from,
  & .irs-to {
    width: 15px;
    height: 15px;
    font-size: 0;
    background-color: $btn;
    border-radius: 0;
    top: -6px;
    z-index: 1;
    cursor: grab;
    &::before {
      display: none;
    }
  }
  & .irs-handle {
    display: none;
  }
  .irs-single {
    font-size: 0;
    line-height: 0;
    padding: 0;
  }
}

.recent-products {
  &__item {
    display: flex;
    margin-bottom: 23px;
  }
  &__item-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 71px;
    height: 71px;
    border: 3px solid #f2f2f2;
    margin-right: 17px;
  }
  &__item-img {
    max-width: 65px;
    max-height: 65px;
  }
  &__item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
  }
  &__item-link {
    padding-bottom: 2px;
  }
}
.jq-ry-container {
  padding: 0;
}


@media (max-width: 1500px) {
  .product-list {
    padding: 90px 0;
    .product-items {
      grid-gap: 22px;
      padding-bottom: 70px;
    }
  }  
}
@media (max-width: 1180px) {
  .product-list {
    .product-item {
      height: 345px;
      padding: 25px 12px 10px 12px;
      &__title {
        margin-top: 40px;
      }
    }
    .item-links {
      bottom: 80px;
    }
    .product-items--list {
      .product-item__img-wrap {
        height: 460px;
        margin-right: 30px;
      }
      .product-item__title {
        font-size: 38px;
        line-height: 48px;
        margin: 0 0 5px;
       }      
      .product-item__info {
       max-width: 450px;
      }
      .product-item__desc {
        max-width: 450px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .product-list {
    padding: 70px 0;
    &__aside {
      min-width: 250px;
      margin-right: 25px;
    }
    .product-items {
      grid-gap: 15px;
    }
    .product-item {
      height: 325px;
      padding: 25px 12px 5px 12px;
      &__title {
        margin-top: 35px;
      }
    }
    .item-links {
      bottom: 75px;
    }
    .product-items--list {
      .product-item__img-wrap {
        height: 420px;
        margin-right: 25px;
      }
      .product-item__title {
        font-size: 36px;
        line-height: 46px;
       } 
      .product-item .star-l {
        margin-bottom: 12px;
      }
    }
  } 
}
@media (max-width: 990px) {
  .product-list {
    &__aside {
      min-width: 270px;
      margin-right: 30px;
    }
    &__aside--list {
      min-width: 250px;
      margin-right: 25px;
    }
    .product-items {
      grid-template-columns: repeat(2, 1fr);
      .product-item {
        max-width: 340px;
      }
    }
    .product-items.product-items--list {
      grid-template-columns: repeat(1, 1fr);
    }
    .product-items--list {
      .product-item {
        max-width: 100%;
      }
      .product-item__img-wrap {
        height: 380px;
        margin-right: 22px;
      }
      .product-item__info {
        padding-top: 5px;
      }
      .item-links {
        bottom: 20px;
      }
    }
  } 
}
@media (max-width: 890px) {
  .product-list {
    padding: 50px 0;
    &__aside {
      min-width: 220px;
      margin-right: 20px;
    }
    .product-items {
      padding-bottom: 40px;
    }
    .product-items--list {
      .product-item__img-wrap {
        height: 340px;
      }
      .product-item__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0;
      }
      .product-item .star-l {
        margin-bottom: 8px;
      }
      .product-item__price--list {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 10px;
      }
      .product-item__desc {
        line-height: 24px;
      }
    }
  } 
}
@media (max-width: 740px) {
  .product-list {
    .product-display {
      display: none;
    }
    .product-items {
      grid-template-columns: repeat(1, 1fr);
      .product-item {
        max-width: 435px;
      }
    }
    .pagination {
      margin: 0 auto 0 15px;
      &--transf {
        transform: translateX(-15px);
      }
      &__item-btn,
      &__prev-btn,
      &__next-btn {
        height: 40px;
        padding: 0 15px;
        margin-right: 10px;
      }
      &__next-btn {
        margin-right: 0;
      }
      &__item-btn {
        width: 40px;
      }
    }
  } 
}
@media (max-width: 590px) {
  .product-list {
    padding: 70px 0 40px;
    &__inner {
      flex-direction: column;
    }
    .aside-title-box {
      pointer-events: painted;
      cursor: pointer;
    }
    &__aside {
      display: none;
      background-color: rgba(#fff, .5);
      margin-right: 0;
      position: relative;
      z-index: 5;
      &--active {
        display: block;
      }
      &--noact {
        z-index: 0;
      }
    }
    .aside-title {
      margin-bottom: 15px;
    }
    .aside-title-line {
      margin-bottom: 15px;
      &::after {
        display: block;
      }
    }
    .filters {
      display: block;
    }
    .filter {
      padding-bottom: 25px;
    }
    .filter__form,
    .recent-products__box {
      display: none;
    }
    .product-items {
      padding-top: 20px;
      .product-item {
        max-width: 100%;
      }
    }
  } 
}
