<div class="product-filters">
   <button class="product-filters__btn product-filt__btn" data-filter="all">All</button>
   <button class="product-filters__btn product-filt__btn"
      data-filter=".category-furnitures">Furnitures</button>
   <button class="product-filters__btn product-filt__btn" data-filter=".category-chairs">Chairs</button>
   <button class="product-filters__btn product-filt__btn" data-filter=".category-lighting">Lighting</button>
   <button class="product-filters__btn product-filt__btn" data-filter=".category-decor">Decor</button>
</div>
