<div class="lamps">
   <div class="container-l">
      <div class="lamps__wrap">
         <div class="lamps__item">
            <img class="lamps__item-img" src="images/lamps/lamp-1.png" alt="lamp">
            <div class="lamps__item-inner">
               <h5 class="lamps__inner-title">Mirum Notare Tellus</h5>
               <p class="lamps__inner-desc">
                  LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
               </p>
               <a class="lamps__inner-link" href="#">View More</a>
            </div>
         </div>
         <div class="lamps__item">
            <img class="lamps__item-img" src="images/lamps/lamp-2.png" alt="lamp">
            <div class="lamps__item-inner">
               <h5 class="lamps__inner-title">Malesuada Tempor Euismod</h5>
               <p class="lamps__inner-desc">
                  50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
               </p>
               <a class="lamps__inner-link" href="#">View More</a>
            </div>
         </div>
      </div>
   </div>
</div>