<section class="blog">
   <div class="container-s">
      <div class="blog__inner">
         <div class="blog__content">
            <div class="blog__item">
               <a class="blog__item-img-link" href="#">
                  <img class="blog__item-img" src="images/blog-page/1.jpg" alt="blog article image">
               </a>
               <div class="blog__item-info">
                  <span class="blog__item-date">28 JANUARY, 2020</span>
                  <a class="blog__item-author" href="#">BY ADMIN</a>
               </div>
               <a class="blog__item-title-link" href="#">
                  <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod </h3>
               </a>
               <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
               </p>
               <a class="blog__item-link" href="#">View More</a>
            </div>
            <div class="blog__item">
               <a class="blog__item-img-link" href="#">
                  <img class="blog__item-img" src="images/blog-page/2.jpg" alt="blog article image">
               </a>
               <div class="blog__item-info">
                  <span class="blog__item-date">28 JANUARY, 2020</span>
                  <a class="blog__item-author" href="#">BY ADMIN</a>
               </div>
               <a class="blog__item-title-link" href="#">
                  <h3 class="blog__item-title" class="blog__item-tite">Fonsectetur adipisicing elit,</h3>
               </a>
               <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
               </p>
               <a class="blog__item-link" href="#">View More</a>
            </div>
            <div class="blog__item">
               <a class="blog__item-img-link" href="#">
                  <img class="blog__item-img" src="images/blog-page/3.jpg" alt="blog article image">
               </a>
               <div class="blog__item-info">
                  <span class="blog__item-date">28 JANUARY, 2020</span>
                  <a class="blog__item-author" href="#">BY ADMIN</a>
               </div>
               <a class="blog__item-title-link" href="#">
                  <h3 class="blog__item-title" class="blog__item-tite">Fonsectetur adipisicing eiusmod </h3>
               </a>
               <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
               </p>
               <a class="blog__item-link" href="#">View More</a>
            </div>
            <div class="blog__item">
               <a class="blog__item-img-link" href="#">
                  <img class="blog__item-img" src="images/blog-page/4.jpg" alt="blog article image">
               </a>
               <div class="blog__item-info">
                  <span class="blog__item-date">28 JANUARY, 2020</span>
                  <a class="blog__item-author" href="#">BY ADMIN</a>
               </div>
               <a class="blog__item-title-link" href="#">
                  <h3 class="blog__item-title" class="blog__item-tite">vonsectetur adipisicing elit</h3>
               </a>
               <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor
                  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
               </p>
               <a class="blog__item-link" href="#">View More</a>
            </div>
            {% include "app/module/_pagination/_pagination.njk" %}
         </div>
         {% include "app/module/_blog-aside/_blog-aside.njk" %}
      </div>
   </div>
</section>