.partners {
  background-color: #fef1e4;
  &-block {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 80px 0 90px;
  }
}
.articles + .partners {
  padding-top: 180px;
  margin-top: -200px;
}