<div class="partners">
   <div class="container-s">
      <div class="partners-block">
         <div class="partners__item">
            <img class="partners__img" src="images/partners/peterson.png" alt="peterson logo">
         </div>
         <div class="partners__item">
            <img class="partners__img" src="images/partners/kmn.png" alt="kmn logo">
         </div>
         <div class="partners__item">
            <img class="partners__img" src="images/partners/chainforce.png" alt="chainforce logo">
         </div>
         <div class="partners__item">
            <img class="partners__img" src="images/partners/nextg3n.png" alt="nextg3n logo">
         </div>
         <div class="partners__item">
            <img class="partners__img" src="images/partners/vintage.png" alt="vintage logo">
         </div>
      </div>
   </div>
</div>