<section class="articles">
   <div class="container-s">
      <div class="articles__top">
         <h2 class="articles__title">Our Insights & Articles</h2>
         <a class="articles__top-link" href="#">View All</a>
      </div>
      <div class="articles__inner">
         <div class="articles__item">
            <a class="articles__item-img-link" href="#">
               <img class="articles__item-img" src="images/articles/articles-img-1.jpg" alt="article img">
            </a>
            <a class="articles__item-news-link" href="#">NEWS</a>
            <div class="articles__item-box">
               <h4 class="articles__item-title">
                  <a class="articles__item-title-link" href="#">
                     Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                     <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                        <path fill="#fff" fill-rule="evenodd"
                           d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.3a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.5H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                           transform="translate(-535 -649)" />
                     </svg>
                  </a>
               </h4>
               <div class="articles__item-bottom">
                  <span class="articles__item-date"> 28 JANUARY, 2020</span>
                  <a class="articles__author-link" href="#"> BY ADMIN</a>
               </div>
            </div>
         </div>
         <div class="articles__item">
            <a class="articles__item-img-link" href="#">
               <img class="articles__item-img" src="images/articles/articles-img-2.jpg" alt="article img">
            </a>
            <a class="articles__item-news-link" href="#">NEWS</a>
            <div class="articles__item-box">
               <h4 class="articles__item-title">
                  <a class="articles__item-title-link" href="#">
                     Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                     <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                        <path fill="#fff" fill-rule="evenodd"
                           d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.3a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.5H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                           transform="translate(-535 -649)" />
                     </svg>
                  </a>
               </h4>
               <div class="articles__item-bottom">
                  <span class="articles__item-date"> 28 JANUARY, 2020</span>
                  <a class="articles__author-link" href="#"> BY ADMIN</a>
               </div>
            </div>
         </div>
         <div class="articles__item">
            <a class="articles__item-img-link" href="#">
               <img class="articles__item-img" src="images/articles/articles-img-3.jpg" alt="article img">
            </a>
            <a class="articles__item-news-link" href="#">NEWS</a>
            <div class="articles__item-box">
               <h4 class="articles__item-title">
                  <a class="articles__item-title-link" href="#">
                     Rncididunt ut labore et dolore magna aliqua. Ut enim
                     <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                        <path fill="#fff" fill-rule="evenodd"
                           d="M535.3,654.472h16.948l-0.1,2.857a0.292,0.292,0,0,0,0,.41l0.172,0.172a0.28,0.28,0,0,0,.2.086,0.285,285,0,0,0,.2-0.084l4.193-4.211A0.292,0.292,0,0,0,557,653.5a0.283,0.283,0,0,0-.084-0.2l-4.193-4.3a0.289,0.289,0,0,0-.407,0l-0.172.173a0.287,0.287,0,0,0-.084.2,0.278,0.278,0,0,0,.084.2l0.113,2.5H535.292a0.3,0.3,0,0,0-.292.295v1.37A0.292,0.292,0,0,0,535.3,654.472Z"
                           transform="translate(-535 -649)" />
                     </svg>
                  </a>
               </h4>
               <div class="articles__item-bottom">
                  <span class="articles__item-date"> 28 JANUARY, 2020</span>
                  <a class="articles__author-link" href="#"> BY ADMIN</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>