<section class="products">
   <div class="container-s">
      <h2 class="products__title section-title">Products of the week</h2>
      {% include "app/module/_product-filters/_product-filters.njk" %}
      {% include "app/module/_product-items/_product-items.njk" %}
    </div>
</section>